<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Sign up</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onCloseSidenav()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Log in</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onCloseSidenav()">
    <mat-icon>directions_run</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onCloseSidenav()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Log out</span>
    </button>
  </mat-list-item>
</mat-nav-list>
